.NavBar {
  display: flex;
  background-color: darkslategrey;
  color: white;
  justify-content: space-between;
}

.NavBar__Left {
  display: flex;
  align-items: center;
}

.NavBar__Right {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.NavBar__Icon {
  color: lightgrey;
  margin-right: 16px;
}

.NavBar__Logo {
  display: block;
  padding-left: 16px;
  height: 32px;
}

.NavBar__Title {
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
}

.NavBar__TabName {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 48px;
  font-size: 16px;
  color: lightgrey;
  font-weight: 600;
}
